/* 
  text: white
  background: black
*/

* {
  box-sizing: border-box;
}

html,
body,
#APP {
  font-family: monospace;
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#APP {
  width: 100%;
  display: flex;
  justify-content: center;
}

.SETTINGS {
  background-color: black;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  z-index: 2; 
  overflow-y: overlay;
}

.toggleSettings {
  background-color: white;
  width: 20px;
  height: 20px;
  transform: translate(10px, -0px) rotate(45deg);
  position: absolute;
  z-index: 1;
}

.settingsInner {
  background-color: black;
  padding: 15px;
  display: flex;
  flex-flow: column;
  color: white;
  width: 100%;
  box-sizing: border-box;
  align-content: stretch;
  z-index: 2;
  padding-right: 25px;
  justify-content: space-between;
  height: 100%;
}

.settingsInner label {
  padding: 5px 5px 5px 0px;
}

.settingsInner button {
  background-color: #fff;
  color: black;
  border: 1px solid white;
  flex-grow: 2;
  white-space: nowrap;
}

.settingsInner input {
  background-color: #fff;
  color: black;
  border: 1px dotted white;
  min-width: 0px;
}

.settingsInner select {
  background-color: #fff;
  color: black;
  border: 1px solid white;
  min-width: 0px;
  flex-grow: 2;
}

.settingsInner > div {
  display: flex;
  box-shadow: 2px 2px 6px 0px;
}

.credits {
  color: white;
  line-break: anywhere;
  white-space: pre;
  margin: 15px 0px;
}



.MAININPUT {
  color: white;
  background-color: transparent;
  flex-grow: 2;
  align-self: center;
  font-size: 2em;
  text-align: center;
  border: none;
  resize: none;
}

.MAININPUT:focus {
  outline: none;
}